<h1>{{context.title}}</h1>
<p>{{context.content}}</p>
<p>{{context.pub_date}}</p>
<a href="{% url 'delete' context.id%}">❌</a>
<!-- <a href="{% url 'edit' context.id%}">🎈</a> -->
<a href="{% url 'update' context.id%}">🎈</a>
<a href="{% url 'index' %}">🏠</a>


<form method="POST" action="{% url 'comment_create' context.id %}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">작성</button>
</form>

{%for com in comment_all%}
{{com.body}}(by {{com.author}}) ---- <a href="{% url 'comment_delete' detail_post.id com.id %}">X</a>
{%endfor%}