<h1>{{context.title}}</h1>
<p>{{context.content}}</p>
<p>{{context.pub_date}}</p>
<a href="{% url 'delete' context.id%}">❌</a>
<!-- <a href="{% url 'edit' context.id%}">🎈</a> -->
<a href="{% url 'update' context.id%}">🎈</a>
<a href="{% url 'index' %}">🏠</a>
{% if scrap %}
<a href="{% url 'scrap' context.id %}">스크랩 취소</a>
{% else %}
<a href="{% url 'scrap' context.id %}">스크랩</a>
{% endif %}


<form method="POST" action="{% url 'comment_create' context.id %}">
    {% csrf_token %}
    {{comment_form.as_p}}
    <button type="submit">작성</button>
</form>