{% if error %}
{{ error }}
{% endif %}

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <h1>Sign up</h1>
    <label for="inputEmail">EMAIL</label>
    <input type="email" id="inputEmail" name="username" placeholder="이메일을 입력해주세요.">
    <br>
    <label for="inputPassword">PASSWORD</label>
    <input type="password" id="inputPassword" name="password1" placeholder="비밀번호를 입력해주세요">
    <br>
    <label for="inputPassword">PASSWORD CONFIRM</label>
    <input type="password" id="inputPassword" name="password2" placeholder="비밀번호를 입력해주세요">
    <br>
    <!-- <label for="admin">ADMIN</label>
    <input type="" id="admin" name="admin" placeholder="관리자 여부" value='YES'> -->
    <input type="submit" value="회원가입하기">
</form>